---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="/assets/img/face.JPG">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Nemah Fatima Ahmed{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %} Sophomore at University of Illinois at Urbana-Champaign. Bioengineering May 2020. Studying Abroad Spring 2018.{% endif %}</p>
          <p class="author_subtitle">Welcome to my personal website! I will be using this site to document my upcoming semester in Spain.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
